* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

h1{
    text-align: center;
    color: #fff;
    background-color: #333;
    font-size: 60px;
    padding: 10px;
}


img.item_img {
    width: 300px;
}

.item {
    width: 30%;
    float: left;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin-left: 3%;
}
.item h2{
  margin-bottom: 5px;
}
.item p{
    margin-bottom: 5px;
  }
.row {
    margin: 20px 0px;
}

.table_img{
    width: 30%;
}

button.btn {
    width: 100%;
    border: none;
    background-color: skyblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
table{
    margin: 0 auto;
    width: 70%;
    border-spacing: 0px;
    border: none;
    margin-top: 20px;
}


button.removeBtn {
    border: none;
    background-color: skyblue;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}


input[type="number"] {
    width: 30%;
    text-align: center;
}

td {
    width: 0%;
    text-align: center;
}

h3 {
    text-align: center;
    margin: 20px 0px;
    font-size: 50px;
}

